<% include partials/header %>
<script>
        $(function() {
    $('body').vegas({
        slides: [
        { src: "https://images.unsplash.com/photo-1496947850313-7743325fa58c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f0bb0006c15a626dab0a5025e7838fa&auto=format&fit=crop&w=750&q=80" },
        { src: "https://images.unsplash.com/photo-1481973964012-59a7f3225eb1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91b6cd3028f48974da294133f867966a&auto=format&fit=crop&w=750&q=80" }
        ],
        overlay: '/overlays/01.png',
        transition:'blur'
    });
});
</script>
<div class="regtemp">

<div class="form container text-center">
    <h1>Sign Up</h1>
<form action="/register" method="POST">
    <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
     <div class="form-group">
    <input type="text" class="form-control" name="adminCode" placeholder="Admin Code">
    </div>
    <button class="btn btn-primary">Sign Up</button>
    
</form>
</div>
</div>
<% include partials/footer %>