<% include ../partials/header %>
<h1 style="text-align:center;">Add new Campgrounds</h1>
    
        <div style="width:30%;margin:0 auto 25px auto">
    <form action="/campgrounds" method="POST">
        <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="New Camp Name">
        </div>
        <div class="form-group">
        <input class="form-control" type="number" name="price" placeholder="price" min="50" step="10">
        </div>
        <div class="form-group">
        <input class="form-control" type="text" name="image" placeholder="New Camp Image">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
        </div>
        <div class= "form-group">
            <input class="form-control" type="text" name= "description" placeholder="Camp Description">
        </div>
        <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value = "submit">Add Camp</button>
        </div>
    </form>
    <a href="/campgrounds">Go Back</a>
    </div>
    
<% include ../partials/footer %>